@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: white;
}

header{
    width: 100%;
    height: 60px;
    background-color: orange;
}

header .container{
    width: 80%;
    padding-left: 20%;
    float: left;

}

.clear {
    clear: both;
}

.logo {
    width: 30%;
    height: 60px;
    vertical-align: top;
    display: inline-block;
}

header .logo .logo_i {
    width: 60px;
    height: 60px;
}

header .title{
    width: 40%;
    height: 60px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .title p{
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

header .account {
    display: inline-block;
    width: 30%;
    height: 60px;
    vertical-align: top;
}

header .account .account-text{
    width: calc(100% - 47px);
    float: left;    
    margin: 20px 0;
    text-align: center;
    color: white;
    font-size: 33,333333%;
    line-height: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    text-align: right;
}

.name {
    display: none;
}

.size {
    aspect-ratio: 1 / 1;
}

.clearence {
    height: 20px;
}

header .account .account-img {
    float: right;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 5%;
}

form {
    position: relative;
    width: 60%;
    margin: 30px auto;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
    line-height: 40px;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: orange;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:before {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: white;
    line-height: 32px
}

.search-field {
    display: inline-block;
    width: calc(100% - 42px);
    height: 42px;
    vertical-align: top;
    border: 2px solid orange;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
}

.search-btn {
    display: inline-block;
    vertical-align: top;
    width: 42px;
    height: 42px;
    margin: auto;
    border: none;
    background: orange;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: white;
    line-height: 32px;
}

.register {
    text-align: center;
    font-size: 32px;
    color: orange;
}
.ps {
    width: 100%;
    text-align: center;
}

section {
    width: 100%;
    min-height: 800px;
    background-color: white;
    padding: 0 0 30px 0;
}

.product-container {
    width: 90%;
    height: auto;
    padding-left: 10%;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 19%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 5px;
}

.price {
    color: grey;
    font-size: 22px;
}

.buy:hover {
    opacity: 0.7;
}

.buy {
    position: relative;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0;
}

footer {
    width: 100%;
    height: 130px;
    background-color: gray;
    color: goldenrod;
    padding-right: 20%;
}

footer .context {
    float: left;
    margin: 10px 15%;
    width: 60%;
    text-align: left;
}

footer .i-fact {
    color: gold;
}

.i-fact {
    color: gold;
}

.i {
    display: inline-block;
    padding: 0 2px 0 2px;
}

.i2 {
    display: inline-block;
}

header .account .enter {
    text-align: right;
    margin-right: 5px;
}


@media screen and (min-width: 801px) and (max-width: 800px) {
    .card {
        width: 24%;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 48%;
    }
    header .account .account-img {
        display: none;
    }

    header .account .account-text {
        display: none;
    }

    .logo{
        display: none;
    }

    header .title {
        width: 100%;
        text-align: center;
    }
}