@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {box-sizing: border-box;}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


header{
    width: 100%;
    height: 60px;
    background-color: orange;
}

header .container{
    width: 80%;
    padding-left: 20%;
    float: left;

}

.clear {
    clear: both;
}

.logo {
    width: 20%;
    height: 60px;
    vertical-align: top;
    display: inline-block;
}

header .logo .logo_i {
    width: 60px;
    height: 60px;
}

header .title{
    width: 50%;
    height: 60px;
    vertical-align: top;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .title p{
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

header .account {
    width: 20%;
    height: 60px;
    vertical-align: top;
    display: inline-block;
}

header .account .account-text{
    width: calc(100% - 40px);
    float: left;
    margin: 20px 0;
    text-align: center;
    color: white;
    font-size: 33,333333%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    text-align: right;
}

.name {
    display: none;
}

header .account .account-img {
    float: right;
    margin: 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

form {
  position: relative;
  width: 60%;
  margin: 30px auto;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid orange;
  border-radius: 5px;
  outline: none;
  background: white;
  color: #9E9C9C;
}

button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: orange;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:before {
  content: ">";
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 32px;
  color: white;
  line-height: 32px
}

section {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0 0 30px 0;
}

.product-container {
    width: 90%;
    height: auto;
    padding-left: 10%;
}

.card {
    width: 19%;
    padding-left: 1%;
    display: inline-block;
    padding-top: 5px;
}

.card-img {
    width: 100%;
    border-radius: 10% 10% 0 0;
}

.data-text {
    width: 100%;
    display: block;
    border-color: yellow;
    background-color: lightgray;
}

.price {
    display: inline-block;
    width: 100%;
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;
    color: darkorange;
}

.other {
    display: block;
    width: 100%;
}

.name-goods {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}

.seller {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    color: goldenrod;
}

footer {
    width: 100%;
    height: auto;
    background-color: gray;
    color: goldenrod;
    font-size: 16px;
    line-height: 18px;
}

footer .i-fact {
    color: gold;
}

.foot {
    padding-left: 20%;
}

.i {
    display: inline-block;
    padding: 0 2px 0 2px;

}

i {
    width: 40px;
    height: 40px;
}

.i {
    display: inline-block;
    padding: 0 2px 0 2px;
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .card {
        width: 24%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 48%;
        padding-left: 2%;
    }
}
