{% extends "base.html" %}

{% block content %}
    <h1> Пополнение баланса </h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.balance.label }}<br>
        {{ form.balance(class="form-control") }}<br>
        {% for error in form.balance.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    </form>>
{% endblock %}