{% extends "base.html" %}

{% block content %}
    <form>
        <input type="text" placeholder="Искать здесь...">
        <button type="submit"></button>
    </form>
    <section>
        <div class="product-container">
            <div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="name-goods">Crocodilo Bombardilo</p>
                        <p class="seller">Aboba Shop</p>
                    </div>
                </div>
            </div><div class="card">
                <img class="card-img" src="images/no-image.png" alt="">
                <div class="data-text">
                    <p class="price">1488₽</p>
                    <div class="other">
                        <p class="seller i">Aboba Shop</p>
                        <p i>/</p>
                        <p class="name-goods i">Crocodilo Bombardilo</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}