<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/font-awesome-6.7.2/css/font-awesome.min.css">
    <title>Homeberries</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/index"><img src="static/images/logo.jpg" alt="" class="logo_i"></a>
        </div>
        <div class="title">
            <p>HomeBerries</p>
        </div>
    </div>
</header>
<section>
    <main role="main" class="container">
    <h1 class="register">Авторизация в HomeBerries</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p><br>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
    <div class="ps"><p class="i">Ещё нет аккаунта?</p><a href="/register" class="i-fact i">Регистрация</a></div>
</main>
</section>
<footer>
        <p class="i">Телефон поддержки:</p>
        <p class="i-fact i">+79661377171</p>
        <div class="clear"></div>
        <p class="i">Наш чат-бот:</p><a target="_blank" href="https://t.me/HomeBerries_TSBot"
                                        class="i-fact i">t.me/HomeBerries_TSBot</a>
        <div class="clear"></div>
        {% if current_user.is_authenticated %}
        <p class="i">Ваш баланс: {{ balance }}</p>
        {% endif %}
        <div class="clear"></div>
        {% if current_user.is_authenticated %}
        <a href="/index?search=@" class="i-fact i">Посмотреть ваши товары</a>
        <div class="clear"></div>
        <a href="/balance" class="i-fact i">Пополнить баланс</a>
        <div class="clear"></div>
        <a href="/goods" class="i-fact i">Добавить товар</a>
        {% endif %}
</footer>
</body>
</html>